<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title th:utext="${title}"></title>-->
    <meta charset="UTF-8">
    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
          media="screen"/>
    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/static/css/students.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="container-fluid content">
    <h2 class="sys-title">Quản lý sinh viên</h2>
    <hr>
    <b>Danh sách sinh viên!</b>
    <br/><br/>
    <a type="button" th:href="@{/api/student/update/{id}(id=-1)}" class="btn pull-left">
        <i class="fas fa-plus-circle"></i> Thêm mới sinh viên
    </a>
    <br />
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Mã sinh viên</th>
            <th>Tên sinh viên</th>
        </tr>


        <tr th:each="student, state : ${studentList}">
            <input type="hidden" th:value="${student.id}" id="id"/>
            <td th:utext="${state.count}"></td>
            <td><p th:utext="${student.studentCode}"></p></td>
            <td><p th:utext="${student.name}"></p></td>

            <td style="white-space: nowrap">
                <a
                        th:href="@{/api/student/{id}(id=${student.id})}">
                    <i class="fas fa-info-circle"></i> Chi tiết
                </a>
            </td>
            <td>

            <td style="white-space: nowrap"><a type="button"
                                               th:href="@{/api/student/update/{id}(id=${student.id})}"><i
                    class="fas fa-pencil-alt"></i> Chỉnh sửa </a></td>

            <td>
                <!--
                <button class="btn btn-danger" data-toggle="modal" data-target="#modal-warning"
                        th:attr="data-target='#modal-warning'+${student.id}">
                    <i class="fas fa-trash-alt"></i> Xóa sinh viên</span>
                </button>
                -->

                <button class="btn btn-danger" id="btnDel" th:onclick="|deleteStudent(${student.id})|">
                    <i class="fas fa-trash-alt"></i> Xóa sinh viên</span>
                </button>

            </td>

            <!-- The Modal -->
            <!--
            <div class="modal modal-warning fade in"
                 th:id="modal-warning+${student.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Ban có chắc chắn xóa sv này chứ?</h3>
                        </div>
                        <div class="modal-footer">
                            <a type="button" id="deleteBtn" class="btn btn-danger"
                                    data-method="GET"
                                    th:href="@{/api/student/delete/{id}(id=${student.id})}"><i
                                    class="fa fa-check"></i>&nbsp;Yes</a>
                            <button type="button" class="btn btn-outline pull-left"
                                    data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </tr>
    </table>
</div>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">

    function deleteStudent(studentId) {

        if (confirm("Xác nhận xóa sinh viên này") == true) {
            $.ajax({
                url: 'http://localhost:8080/api/student/delete/' + studentId,
                type: 'DELETE',
                success: function (data) {
                    alert("Xóa thành công");
                    window.location.href = "http://localhost:8080/api/students";
                },
                error: function () {
                    alert('Có lỗi xảy ra . Xin vui lòng thử lại');
                }
            });
        }
    }


</script>
</body>

</html>