<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <title th:utext="${title}"></title>-->
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
          media="screen" />
    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet" type="text/css" />

    <link th:href="@{/static/css/studentDetail.css}" rel="stylesheet" type="text/css" />

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

    <button class="btn-group btn-back" onclick="backClick()">Back</button>
    <!-- content -->
    <div class="container">
        <h2 class="sys-title">Quản lý sinh viên</h2>
        <hr>
        <h4>Chi tiết sinh viên!</h4>
        <br/><br/>

        <div class="form-group">
            <input type="hidden" class="form-control" th:value="${student.getId()}" id="pitchId">
        </div>
        <div class="form-group">
            <label><i class="fas fa-arrow-right"></i> Mã sinh viên :</label>
            <div th:utext="${student.getStudentCode()}" id="studentCode"></div>
        </div>
        <div class="form-group">
            <label><i class="fas fa-arrow-right"></i> Tên sinh viên :</label>
            <div th:utext="${student.getName()}" id="name"></div>
        </div>
        <div class="form-group">
            <label><i class="fas fa-arrow-right"></i> Tuổi :</label>
            <div th:utext="${student.getAge()}" id="age"></div>
        </div>
        <div class="form-group">
            <label><i class="fas fa-arrow-right"></i> Chuyên ngành :</label>
            <div th:utext="${student.getMajor()}" id="major"></div>
        </div>
        <div class="form-group">
            <label><i class="fas fa-arrow-right"></i> Giới tính :</label>
            <div th:if="${student.isGender()}">Nam</div>
            <div th:unless="${student.isGender()}">Nữ</div>
        </div>
    </div>
<script type="text/javascript">
    function backClick() {
        window.location.href = "http://localhost:8080/api/students";
    }
</script>
</body>

</html>