<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title th:utext="${title}"></title>-->
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
          media="screen" />
    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet" type="text/css" />

    <link th:href="@{/static/css/studentUpdate.css}" rel="stylesheet" type="text/css" />

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<button class="btn-group btn-back" onclick="backClick()">Back</button>
<div class="container col-6 content">
    <h1>Tạo mới sinh viên</h1>
    <br>
    <div class="col-md-auto">

        <form action="#" th:action="@{/api/student/update}" th:object="${student}"
              method="post">

            <input type="hidden" th:field="*{id}" th:value="${student.getId()}" id="pitchId">
            <div class="row">
                <div class="col-4">
                    <label for="name">Tên sinh viên : </label>
                </div>
                <div class="col-8">
                    <input type="text" th:field="*{name}" id="name" placeholder="Điền tên sinh viên">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-4">
                    <label for="studentCode">Mã sinh viên : </label>
                </div>
                <div class="col-8">
                    <input type="text" th:field="*{studentCode}" id="studentCode" placeholder="Điền mã sinh viên">
                    <span th:if="${#fields.hasErrors('studentCode')}" th:errors="*{studentCode}"></span>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-4">
                    <label for="age">Tuổi : </label>
                </div>
                <div class="col-8">
                    <input type="number" th:field="*{age}" id="age" placeholder="Tuổi">
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-4">
                    <label for="major">Chuyên ngành : </label>
                </div>
                <div class="col-8">
                    <input type="text" th:field="*{major}" id="major" placeholder="Chuyên ngành">
                    <span th:if="${#fields.hasErrors('major')}" th:errors="*{major}"></span>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-4">
                    <label>Giới tính : </label>
                </div>
                <div class="col-8">
                    <input type="radio" id="gender_male" name="gender_male" value="1" th:field="*{gender}"> Male
                    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"> Male</span>

                    <input type="radio" id="gender_female" name="gender_female" value="0" th:field="*{gender}"> Female
                    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"> Female</span>
                </div>
            </div>
            <br>

            <div th:if="${student.getId() == -1}">
                <input type="submit" value="Tạo mới sinh viên">
            </div>
            <div th:if="${student.getId() != -1}">
                <input type="submit" value="Chỉnh sửa thông tin sinh viên">
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    function backClick() {
        window.location.href = "http://localhost:8080/api/students";
    }
</script>
</body>

</html>